<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo's Form</title>
    </head>
    <body>
        <fieldset>
            <legend>Form</legend>
            <form name="form" action="/" method="post">
                <p>Name: </p><input type="text" name="name" value="">
                <p>Last Name: </p><input type="text" name="lastname" value="">
                <p>E-mail: <p><input type="text" name="email" value="">
                <p>Comments:</p><br>
                <textarea name="comments" rows="8" cols="80"></textarea>
            </form>
            <button type="submit" name="submit">Submit</button>
        </fieldset>
    </body>
</html>
