<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Practice 1</title>
    </head>
    <body>
        <form  action="/songs/new" method="post">
            <label for="">Name:
                <p><input type="text" name="name" value=""></p>
            </label>
            <label for="">Song Popularity
                <p><input type="number" name="popularity" value=""></p>
            </label>
            <input type="submit" name="" value="Create Arstist">
        </form>

        <br><br><br><br>

        <form class="" action="/artists/new" method="post">
            <label for="">Artist Name:
                <p><input type="text" name="name"></p>
            </label>
            <label for="">Artist Genre:
                <p><input type="text" name="genre"></p>
            </label>
            <input type="submit" name="" value="Create Songs">
        </form>
    </body>
</html>
