<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Friends</title>
    </head>
    <body>
        <fieldset>
            <legend><h1>Friends:</h1></legend>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Friends since</th>
                </tr>
                {% for i in friends %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.age}}</td>
                        <td>{{i.createdAt}}</td>
                    </tr>
                {% endfor %}
            </table>
        </fieldset>
        <br>
        <h1>Add a Friend:</h1>
        <br>
        <form action="/addfriend" method="post">

            <p>Name: </p><input type="text" name="name">

            <p>Age:</p><input type="text" name="age">
            <br>
            <input type="submit" name="submit">
        </form>
    </body>
</html>
